@{
    ViewData["Title"] = "Vacancy";
}


<div class="container">
    <div class="row">
        <h1 style="font-size:x-large; text-align:center;padding-top:50px">@ViewData["VacancyDescription"]</h1>
    </div>
</div>
