
.TopBanner {
    width: 100%;
    background-color: #009623;
    text-align: center;
    padding: 10px 0;
}

.careers-why-its-worth-it__text {
    text-align: center;
    word-wrap: break-word;
    color: black;
}

.careers-why-its-worth-it__icon {
    height: 64px;
    width: 64px;
    display: block;
    margin: auto;
}

.careers-row {
    background-color: white;
    padding: 60px
}

.careers-column {
    padding-bottom: 20px
}


.locations-row {
    background-color: #009623;
    padding-bottom: 20px;
    padding-top: 20px;
}

.locations-label {
    color: white;
    align-content: center;
    text-align: center;
    display: block;
    padding: 10px
}

.locations-dropdown {
    font-size: x-large;
    color: white;
    align-content: center;
    text-align: center;
    display: block;
    padding: 10px
}

.locations-bottomline {
    border-style: solid;
    display: block;
    border-width: 1px;
}

.locations-bottom-row {
    background-color: #009623;
}


.vacancies {
    background-color: #009623;
    padding-bottom: 20px;
    padding-top: 20px;
}

.vacancy-itemrow {
    padding-bottom: 10px;
    padding-top: 10px;
}



.vacancy-row {
    background-color: #009623;
    padding-bottom: 30px;
    padding-top: 30px;
}


.vacancy-title {
    font-size: large;
    color: white;
}

.vacancy-location-right {
    text-align: right;
    font-size: medium;
    color: white;
}

.vacancy-location-left {
    text-align: left;
    font-size: medium;
    color: white;
}

.vacancy-description {
    font-size: small;
    color: white;
}

.vacancy-month {
    color: white;
    font-size: medium;
    text-align: center
}

.vacancy-monthday {
    color: white;
    font-size: x-large;
    text-align: center;
    padding-top: 5px
}

span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 1px;
    background-color: darkgreen;
}


.vacancies-detail {
    background-color: #009623;
}

body {
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5 {
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}