@{
    ViewData["Title"] = "Careers";
}


<div class="container">
    <div class="row">
        <img src="~/Content/Careers/loveyourcareer.JPG" alt="love your career" class="img-fluid img-thumbnail" />
    </div>
</div>
