@{
    ViewData["Title"] = "Careers";
}


@section Scripts
{
    <script type="text/javascript">
        function Location_Changed() {
            var dropdown = document.getElementById( "CtrlLocationList" );
            var value = dropdown.options[dropdown.selectedIndex].value;

            //hack the action to get the Id in there
            var link = '@Url.Action("ApplyFilter", "Careers", new { locationId = "-1" })';
            link = link.replace("-1", value);
            //Refresh the div via AJAX
            $("#vacanciesDiv").load(link);
            return false;
        };
    </script>
}


<div class="container">
    <div class="row">
        <img src="~/Content/Careers/loveyourcareer.JPG" alt="love your career" class="img-fluid img-thumbnail" />
    </div>

    <div class="row careers-row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-8 careers-column">
            <img src="~/Content/Careers/clockicon.png" class="img-responsive careers-why-its-worth-it__icon" />
            <h1 class="careers-why-its-worth-it__text">Flexible work hours to suit your lifestyle</h1>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-8 careers-column">
            <img src="~/Content/Careers/bicycle.JPG" class="img-responsive careers-why-its-worth-it__icon" />
            <h1 class="careers-why-its-worth-it__text">A new bike to get around town!</h1>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-8 careers-column">
            <img src="~/Content/Careers/umbrella.JPG" class="img-responsive careers-why-its-worth-it__icon" />
            <h1 class="careers-why-its-worth-it__text">Discounted health insurance</h1>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-8 careers-column">
            <img src="~/Content/Careers/geo.JPG" class="img-responsive careers-why-its-worth-it__icon" />
            <h1 class="careers-why-its-worth-it__text">Contemporary offices in a greate location</h1>
        </div>
    </div>


    <div class="row locations-row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-1 col-xs-1 locations-label">
            <h1 style="font-size:x-large">Our Vacancies</h1>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-1 col-xs-1 locations-dropdown">
            @Html.DropDownList("LocationList", (IEnumerable
           <SelectListItem>)TempData["LocationList"]
           , "All Locations"
           , new { @class = "form-control", @id = "CtrlLocationList", @onchange = "Location_Changed()" })
        </div>
    </div>

    <div class="row locations-bottom-row">
        <div class="col">
            <hr class="locations-bottomline" />
        </div>
    </div>

    <div id="vacanciesDiv">
        @await Html.PartialAsync("~/Views/Careers/_Careers.cshtml")
    </div>
</div>
